{% load humanize %}
<table data-toggle="table"
       class="sample_stats_table table table-condensed table-striped"
       data-language="en-US"
       width="90%"
       data-search="true"
       data-show-toggle="true"
{#       data-show-columns="true"#}
       data-buttons-align="left"
       data-search-align="left">
    <thead>
    <tr>
        {% for thead in sample_stats_table.thead %}
            <th class="col-xs-1"
                data-sortable="true">{{ thead }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for trow in sample_stats_table.tbody %}
        <tr>
            {% for cell in trow %}
                <td class="col-xs-1">
                {% autoescape off %}
                    {{ cell|intcomma }}
                {%  endautoescape %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>