{% load humanize %}
<table class="parameter_table table table-striped table-bordered"
       {# Override style so columns are not fixed width #}
       style="width: auto;">
    <thead>
    <tr>
        {% for thead in sample_stats_table.thead %}
            <th>{{ thead }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for trow in sample_stats_table.tbody %}
        <tr>
            {% for cell in trow %}
                <td>
                    {{ cell|intcomma }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>